<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./llm-tools.js"></script>
</head>

<body class="black-80 sans-serif bg-near-white">
    <main id="app" class="flex flex-column items-center">
        <div class="mw7 w-100 ph3 ph4-ns">
            <header>
                <p class="pa2 black-70 bl bg-light-gray bw1 b--blue">
                    Your account <span class="black-50 f6">{{ address }}</span> has {{ Math.round(10000*value)/10000 }} ether(s).
                </p>
            </header>

            <div class="mw7 w-100 f5 f4-ns fw3 lh-copy mb0">
                <div class="flex items-center justify-center pa2 pa4-ns bg-lightest-blue navy mb2">
                  <svg class="w1" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>info icon</title>
                    <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
                  </svg>
                  <span class="lh-title ml2 ml3-ns">{{ notification }}</span>
                </div>

                <article v-if="!llm.isGuarding()" class="mb2 mt3">
                    <a  v-if="!(currentCommitment && currentCommitment.state == null)"
                        v-on:click="getCurrentCommitment"
                            href="#0" class="f5 link dim ba bw1 ph3 pv2 mb2 dib near-black">
                        <span class="pl1">Current commitment</span>
                    </a>
                    <a  v-if="currentCommitment && (currentCommitment.state == null || currentCommitment.state=='Closed')"
                        v-on:click="newCommitment"
                            href="#0" class="f5 link dim ba bw1 ph3 pv2 mb2 dib near-black mt2">
                        <span class="pl1">New commitment</span>
                    </a>
                </article>
                <article v-if="llm.isGuarding()" class="mb2 mt3">
                    <a  v-on:click="getGuardingCommitment"
                            href="#0" class="f5 link dim ba bw1 ph3 pv2 mb2 dib near-black">
                        <span class="pl1">Get guarding commitment</span>
                    </a>
                </article>

                <article v-if='showCurrentCommitment' class="mw6 bg-white ba b--black-10">
                    <div class="pv2 ph3">
                        <h1 class="f6 ttu tracked">{{ currentCommitment.title }}</h1>
                    </div>
                    <div class="pa3">
                        <p>You deposited {{ currentCommitment.deposit }} ether(s).</p>
                        <p>You plan to finish your goal in {{ currentCommitment.daysCount }} day(s).</p>
                        <small class="gray db pv2"><time>Currently it is {{ currentCommitment.state }}</time></small>
                    </div>
                    <div v-if="!llm.isGuarding()" class="pa3">
                        <a v-if="currentCommitment.state != null && currentCommitment.state!='Closed'"
                           v-on:click="cancelCurrentCommitment"
                                href="#0" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-mid-gray">
                            <span class="pl1">Cancel</span>
                        </a>
                    </div>
                    <div v-if="llm.isGuarding()" class="pa3">
                        <a  v-if=""
                            v-on:click="reportSuccess"
                                href="#0" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-blue">
                            <span class="pl1">Report success</span>
                        </a>
                        <a v-if=""
                           v-on:click="reportFailure"
                                href="#0" class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green">
                            <span class="pl1">Report failure</span>
                        </a>
                    </div>
                </article>

                <article v-if='showCreateCommitmentForm' class="bg-white pa3 black-80">
                  <form accept-charset="utf-8">
                    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                      <legend class="ph0 mh0 fw6 clip">Create Commitment</legend>
                      <div class="mt3">
                        <label class="db fw4 lh-copy f6" for="title">Titlte</label>
                        <input v-model="commitment.title" class="pa2 input-reset ba bg-transparent w-100 measure" name="title">
                      </div>
                      <div class="mt3">
                        <label class="db fw4 lh-copy f6" for="deposit">Deposit</label>
                        <input v-model="commitment.deposit" class="b pa2 input-reset ba bg-transparent" name="deposit">
                      </div>
                      <div class="mt3">
                        <label class="db fw4 lh-copy f6" for="daysCount">Days</label>
                        <input v-model="commitment.daysCount" class="b pa2 input-reset ba bg-transparent" name="daysCount">
                      </div>
                    </fieldset>
                    <div class="mt3">
                        <a href="#" v-on:click="createCommitment"
                                class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-mid-gray">
                            Create
                        </a>
                    </div>
                </form>
                </article>

            </div>
        </div>
      </main>
</body>

<script>
/* init on load */
window.addEventListener("load", function() {
    llm.initWeb3();
    llm.initAccounts(function () {
        app.updateAccountInfo();
    });
});

/* the Vue app */
var app = new Vue({
    el: '#app',
    data: {
        address: '0x0',
        value: 0,
        currentCommitment: null,
        commitment: {title: 'Running', deposit: 0.5, daysCount: 1},
        showCurrentCommitment: false,
        showCreateCommitmentForm: false,
        notification: "Waiting for your command sir!",
    },
    methods: {
        reportSuccess() {
            llm.guardingCommitment.report(true, function () {

            });
        },
        reportFailure() {
            llm.guardingCommitment.report(false, function () {

            });
        },
        updateAccountInfo() {
            llm.accountInfo(function (accountAddress, balance) {
                app.address = accountAddress;
                app.value = balance;
            });
        },
        getGuardingCommitment() {
            llm.guardingCommitment.getInfo(function () {
                app.currentCommitment = currentCommitment;
                app.notification = "Here is your guarding commitment sir!";
                app.showCurrentCommitment = true;
            });
        },
        newCommitment() {
            app.showCreateCommitmentForm = true;
            app.showCurrentCommitment = false;
            app.notification = "Please enter details ...";
            window.setTimeout(function(){ app.notification = "Hurry up! I'm waiting ... " }, 5000);
        },
        createCommitment() {
            llm.createCommitment(app.commitment, function () {
                app.updateAccountInfo();
            });
            app.currentCommitment = null;
            app.showCreateCommitmentForm = false;
        },
        getCurrentCommitment() {
            app.showCreateCommitmentForm = false;
            app.notification = "Getting current commitment ...";
            llm.currentCommitment.getContractInstant(function () {
                if (llm.currentCommitment.contractInstance.address == "0x0000000000000000000000000000000000000000") {
                    app.notification = "There is no current commitment sir. Please create a new one!";
                    app.currentCommitment = {};
                } else {
                    llm.currentCommitment.getInfo(function (currentCommitment) {
                        app.currentCommitment = currentCommitment;
                        app.notification = "Here is your latest commitment sir!";
                        app.showCurrentCommitment = true;
                        app.updateAccountInfo();
                    });
                }
            });
        },
        cancelCurrentCommitment() {
            llm.currentCommitment.cancel(function () {
                app.currentCommitment.state = 'Closed';
                app.updateAccountInfo();
            });
            app.showCurrentCommitment = true;
        }
    }
});
</script>
</html>
